html {
    // box model
    box-sizing: border-box;

    // visual
    user-select: none;
    cursor: default;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;

    // visual
    user-select: inherit;
    cursor: inherit;
}

body {
    // typography
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.5;

    // visual
    background-color: $black;
}

p {
    @include atTabletsPortrait {
        // typography
        font-size: 2rem;
    }
}

mark {
    // box model
    padding: 0 10px;

    // visual
    background-color: $orange;
}

strong {
    // typography
    font-size: 2em;
}

small {
    // typography
    font-size: 0.5em;
}

sup {
    // typography
    font-size: 0.5em;
}

em {
    // typography
    color: $orange;
    font-style: normal;
}

h1 {
    // typography
    font-size: 2rem;
    text-align: center;

    @include atTabletsPortrait {
        // typography
        font-size: 3rem;
    }
}

h2 {
    // typography
    font-size: 2rem;
    text-align: center;

    @include atTabletsPortrait {
        // typography
        font-size: 3rem;
    }
}

a  {
    // box model
    padding: 5px 20px;

    // typography
    color: $orange;
    text-decoration: none;
    font-size: 2rem;

    // visual
    border: 2px solid $orange;
}

.center {
    // typography
    text-align: center;
}

.right {
    // typography
    text-align: right;
}

