<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="styles.css")

    title Document

body
    
    section.section
        .section__image.section__image--small: img(src="img/backs/1-s.png", alt="")
        .section__image: img(src="img/backs/1.png", alt="")
        .section__fade
        .section__content
            .logo: img(src="img/ob-logo.png", alt="OldBoy logo")
            h1 Открой свою мужскую парикмахерскую
            p.center <mark>и начни зарабатывать от&nbsp;250&nbsp;000&nbsp;рублей&nbsp;в&nbsp;месяц</mark>

    section.section
        .section__image.section__image--small: img(src="img/backs/2-s.png", alt="")
        .section__image: img(src="img/backs/2.png" alt="")
        .section__fade
        .section__content
            p Наверняка Вы читаете эту презентацию не от безделья, а потому что хотите открыть собственный бизнес, который должен быть в первую очередь доходным и конечно же интересным
            h2 <mark>Мы уверены, что&nbsp;мы&nbsp;—&nbsp;лучшие!</mark>
            p.center <strong>Почему?</strong>
            p.center <em>А вот почему, мы Вам сейчас и расскажем</em>

    section.section
        .section__image.section__image--small: img(src="img/backs/3-s.png", alt="")
        .section__image: img(src="img/backs/3.png" alt="")
        .section__fade
        .section__content
            p.center <strong>Но!</strong>
            p Вначале, давайте договоримся, что мы будем рассказывать <mark>все условия честно</mark> и без преувеличения, без использования шаблонов и дешёвых обещаний.
            p.center <em>Будем рассказывать все понятно и на русском человеческом языке.</em>

    section.section
        .section__image.section__image--small: img(src="img/backs/4-s.png", alt="")
        .section__image: img(src="img/backs/4.png" alt="")
        .section__fade
        .section__content
            p.center <em>Начнем прямо и сразу!</em>
            h2.arrow Стоимость&nbsp;франшизы <br><sup>(паушальный взнос)</sup> <br>«OldBoy Barbershop»
            p.center <strong>400&nbsp;000&nbsp;рублей</strong>
            p + 100&nbsp;000 рублей для города миллионника
            p + 100&nbsp;000 рублей за эксклюзив на города <br><small>(никто, кроме Вас, в городе не сможет больше открыть OldBoy)</small>

    section.section
        .section__image.section__image--small: img(src="img/backs/5-s.png", alt="")
        .section__image: img(src="img/backs/5.png" alt="")
        .section__fade
        .section__content
            h2 Что входит в эту сумму?
            p Взнос включает в себя в совокупности все расходы с нашей стороны, которые мы понесем <mark>для успешного открытия Вашего <mark>«OldBoy&nbsp;Barbershop»</mark>
            p.center <em>А теперь более конкретно</em>

    section.section
        .section__image.section__image--small: img(src="img/backs/6-s.png", alt="")
        .section__image: img(src="img/backs/6.png" alt="")
        .section__fade
        .section__content
            h2.arrow Этапы открытия Вашего «OldBoy Barbershop»

    section.section
        .section__image.section__image--small: img(src="img/backs/7-s.png", alt="")
        .section__image: img(src="img/backs/7.png" alt="")
        .section__fade
        header.section__header
            .section__number 1
            h2 Подписание договора
        .section__content
            p Договор обычно заключается дистанционно. Если же Вы решите прилететь к нам в город (управляющая компания находится в г. Калининград), мы организуем Вам чартер и экскурсию по нашим OldBoy — покажем Вам как работает бизнес изнутри.
            p Договор заключаем как и на физические, так и на юридические лица.
            p Далее, у вас всегда будет на связи юрист от нашей команды, который поможет в любом вопросе по открытию и работе барбершопа.
    
    section.section
        .section__image.section__image--small: img(src="img/backs/8-s.png", alt="")
        .section__image: img(src="img/backs/8.png" alt="")
        .section__fade
        header.section__header
            .section__number 2
            h2 Поиск помещения
        .section__content
            p Мы даем критерии для поиска помещения в Вашем городе и всячески содействуем Вам в его подборе.
            p Основатель сети «OldBoy Barbershop» вместе с дизайнерами будет оценивать  каждый предложенный вариант, и давать Вам обоснованную оценку по рентабельности  помещения, взвешивая все плюсы и минусы.
    
    section.section
        .section__image.section__image--small: img(src="img/backs/9-s.png", alt="")
        .section__image: img(src="img/backs/9.png" alt="")
        .section__fade
        header.section__header
            .section__number 3
            h2 Создание дизайн-проекта
        .section__content
            p После утверждения помещения, наша команда дизайнеров разрабатывает дизайн - проект. Это не просто дизайнеры, это специалисты, которые сделали более полусотни дизайнов барбершопа и знают все тонкости от правильного расположения розеток до таких тонких моментов, как направление света, расстояние между креслами и так далее.
            p Дизайн делается от 5 до 7 рабочих дней. Вы будете принимать комплексное участие в процессе, всегда поддерживая связь с дизайнерами.
            p Мы сохраним Ваши пожелания, используя корпоративный стиль компании.

    section.section
        h2 Примеры дизайн-проекта
        .section__gallery
            img(src="img/interier/gallery1.png", alt="")
            img(src="img/interier/gallery2.png", alt="")
            img(src="img/interier/gallery3.png", alt="")
            img(src="img/interier/gallery4.png", alt="")
            img(src="img/interier/gallery5.png", alt="")

    section.section
        .section__image.section__image--small: img(src="img/backs/10-s.png", alt="")
        .section__image: img(src="img/backs/10.png" alt="")
        .section__fade
        header.section__header
            .section__number 4
            h2 Ремонт помещения
        .section__content
            p После получения дизайн проекта, в котором будут все электросхемы и цветные отрисовки дизайна, включая материалы, Вам нужно будет согласовать и начать ремонт помещения с рабочей бригадой, которую находите Вы в своем регионе.

    section.section
        .section__image.section__image--small: img(src="img/backs/11-s.png", alt="")
        .section__image: img(src="img/backs/11.png" alt="")
        .section__fade
        header.section__header
            .section__number 5
            h2 Передача бренда
        .section__content
            p  Мы скидываем вам полностью бренд-пак от визиток до подарочных сертификатов, а так же руководство к открытию, в котором будут всевозможные поставщики от элементов декора до эксклюзивной косметики. От программы обработки фотографии для соц. сетей, до текста, с помощью которого подать объявление о поиске администратора на Avito.

    section.section
        .section__image.section__image--small: img(src="img/backs/12-s.png", alt="")
        .section__image: img(src="img/backs/12.png" alt="")
        .section__fade
        header.section__header
            .section__number 6
            h2 Закупка оборудования
        .section__content
            p Далее, Вам позвонят наши проверенные поставщики по оборудованию и инструменту. Мы не выступаем третьими лицами, накручивая наценку на товар.
            p Товар Вы покупаете напрямую, используя наши максимальные скидки. Мы не ограничиваем Вас в выборе продавца, а лишь даем рекомендации. Если Вы вдруг найдете варианты дешевле (мы сомневаемся в этом), то Вы можете купить все самостоятельно.

    section.section
        .section__image.section__image--small: img(src="img/backs/13-s.png", alt="")
        .section__image: img(src="img/backs/13.png" alt="")
        .section__fade
        header.section__header
            .section__number 7
            h2 Подключение CRM и онлайн-записи
        .section__content
            p Мы подключаем Вам и вашему Барбершопу мобильное приложение, СRМ систему учёта, и онлайн запись.
            p Вы всегда сможете через телефон контролировать сумму в кассе, количество записей клиентов и проданный товар. CRM система учёта полностью исключает возможность воровства сотрудников.
            p Мы за свой счёт оплачиваем аб. плату СRМ системы и несём все расходы на поддержку онлайн сервисов (моб. приложение, сайт).

    section.section
        .section__image.section__image--small: img(src="img/backs/14-s.png", alt="")
        .section__image: img(src="img/backs/14.png" alt="")
        .section__fade
        header.section__header
            h2.center Управляйте барбершопом с телефона
            p.center Наши барбершопы полностью автоматизированы:
        .section__content
            ul.feature-list
                li.feature-list__item
                    img(src="img/database.png", alt="")
                    p <mark>Клиентская база</mark> со статистикой и историей посещений. Помогает не терять постоянных клиентов.
                li.feature-list__item
                    img(src="img/docs.png", alt="")
                    p <mark>Электронный журнал</mark> записи клиентов, c функцией SMS и E-mail напоминаний, что уменьшает количество опоздавших на стрижку.
                li.feature-list__item
                    img(src="img/online.png", alt="")
                    p <mark>Онлайн запись</mark> помогает не упускать новых клиентов и облегчает работу администратора.
                li.feature-list__item
                    img(src="img/mobile.png", alt="")
                    p <mark>Мобильное приложение</mark> с онлайн-записью. Более 45% клиентов делают запись через мобильное приложение.
                li.feature-list__item
                    img(src="img/graph.png", alt="")
                    p <mark>Полная статистика</mark>, чтобы знать ключевые показатели бизнеса.

    section.section
        .section__image.section__image--small: img(src="img/backs/15-s.png", alt="")
        .section__image: img(src="img/backs/15.png" alt="")
        .section__fade
        header.section__header
            .section__number 8
            h2 Поиск мастеров
        .section__content
            p Мы за свой счёт оплачиваем аб. плату СRМ системы и несём все расходы на поддержку онлайн сервисов (моб. приложение, сайт).
            p Мы ищем мастеров через социальные сети, по объявлениям, вытягиваем домушников, переманиваем мастеров из других барбершопов и т.д. Ведем переговоры и обмениваемся информацией.
            p Мастеров мы будем искать только опытных и имеющих стаж по работе с мужскими стрижками. Мы их найдем в любом по величине городе, это мы можем гарантировать.

    section.section
        .section__image.section__image--small: img(src="img/backs/16-s.png" alt="")
        .section__image: img(src="img/backs/16.png" alt="")
        .section__fade
        header.section__header
            .section__number 9
            h2 Реклама в соцсетях
        .section__content
            p Далее, наша команда начинает раскручивать Вас в социальных сетях самостоятельно, не отвлекая Вас. Мы занимаемся группой ВКонтакте и Instagram аккаунтом.
            p Мы самостоятельно разогреваем ажиотаж о готовящемся открытии «OldBoy Barbershop» в Вашем городе. Мы самостоятельно разогреваем ажиотаж о готовящемся открытии «OldBoy Barbershop» в Вашем городе.
            p Это значительно экономит Ваше время.

    section.section
        .section__image.section__image--small: img(src="img/backs/17-s.png" alt="")
        .section__image: img(src="img/backs/17.png" alt="")
        .section__fade
        header.section__header
            .section__number 10
            h2 Обучение мастеров и открытие
        .section__content
            p Мы вылетаем к Вам в город в составе ведущего специалиста, обладающего статусом технолога American Crew, и основателя OldBoy.
            p Живем у Вас в городе, проводим кастинги по мастерам, мастер классы и, конечно же, передаем философию OldBoy. Общение по обмену опытом и технологии опасного бритья, а так же семинар правильного использования мужской косметики.
            p Мы поможем Вам провести открытие, пострижем Ваших клиентов на открытии и конечно же создадим правильную атмосферу.

    section.section
        .section__image.section__image--small: img(src="img/backs/18-s.png", alt="")
        .section__image: img(src="img/backs/18.png" alt="")
        .section__fade
        .section__header
            h2.center Для открытия потребуется
        .section__content
            article.feature
                .feature__image: img(src="img/room.png", alt="")
                h3.feature__title Помещение
                p.feature__text для барбершопа от 35&nbsp;до 70&nbsp;м<sup>2</sup>

            article.feature
                .feature__image: img(src="img/wallet.png", alt="")
                h3.feature__title Инвестиции
                p.feature__text 1&nbsp;000&nbsp;000 — 1&nbsp;150&nbsp000 рублей (ремонтные работы, оборудованиеБ косметика и открытие, включая все дополнительные расходы)
                p.feature__addition Для Москвы и Санкт-Петербурга эта сумма будет 1&nbsp;250&nbsp;l000 — 1&nbsp;400&nbsp;000 рублей

            article.feature
                .feature__image: img(src="img/time.png", alt="")
                h3.feature__title Время
                p.feature__text для открытия от 35&nbsp;до 45&nbsp;дней

    section.section
        .section__header
            h2.center Как будет выглядеть ваш барбершоп
        .section__gallery
            img(src="img/interier/barber1.png", alt="")
            img(src="img/interier/barber2.png", alt="")
            img(src="img/interier/barber3.png", alt="")
            img(src="img/interier/barber4.png", alt="")
            img(src="img/interier/barber5.png", alt="")
            img(src="img/interier/barber6.png", alt="")
            img(src="img/interier/barber7.png", alt="")
            img(src="img/interier/barber8.png", alt="")
            img(src="img/interier/barber9.png", alt="")
            img(src="img/interier/barber10.png", alt="")
            img(src="img/interier/barber11.png", alt="")
            img(src="img/interier/barber12.png", alt="")
    
    section.section
        .section__image.section__image--small: img(src="img/backs/19-s.png", alt="")
        .section__image: img(src="img/backs/19.png" alt="")
        .section__fade
        header.section__header
            h2.center Преиущества<br><small>франшизы «OldBoy Barbershop»</small>
            article.feature
                .feature__image: img(src="img/design.png", alt="")
                h3.feature__title Эксклюзивный дизайн
                p.feature__text неповторимая атмосфера брутального барбершопа

            article.feature
                .feature__image: img(src="img/open.png", alt="")
                h3.feature__title Ни одного закрывшегося филиала
                p.feature__text (из&nbsp;75 на&nbsp;16 июня 2017 года)

            article.feature
                .feature__image: img(src="img/money.png", alt="")
                h3.feature__title Самый лояльный роялти
                p.feature__text 5% с оборота, но не более 30&nbsp;000 рублей

            article.feature
                .feature__image: img(src="img/dollar.png", alt="")
                h3.feature__title Без доп платежей
                p.feature__text и накрутки на оборудование и материалы

            article.feature
                .feature__image: img(src="img/creme.png", alt="")
                h3.feature__title Собственное производство
                p.feature__text мужской косметики

            article.feature
                .feature__image: img(src="img/tattoo.png", alt="")
                h3.feature__title Тату-студия
                p.feature__text без Ваших вложений(по желанию)
            
    section.section
        .section__image.section__image--small: img(src="img/backs/20-s.png", alt="")
        .section__image: img(src="img/backs/20.png" alt="")
        .section__fade
        header.section__header
            h2.center О нашей поддержке
        .section__content
            p Наша поддержка — <mark>это поддержка во всем.</mark> Это специальный штат профессионалов состоящий из дизайнеров, юристов, маркетологов, программистов, которые работают 5 дней в неделю специально для Вас!
            p Например, через год, после того как состоялось открытие, Вы решите сделать баннер на какое-нибудь мероприятие, или Вам потребуется помощь юриста, дизайнера, то Вы просто обращаетесь к нам и получаете это совершенно <mark>бесплатно, и, самое главное, в короткий срок.</mark>
            p Помимо всего этого у Вас будет персональный менеджер для решения любых вопросов, связанных с работой парикмахерской.

    section.section
        .section__image.section__image--small: img(src="img/backs/21-s.png", alt="")
        .section__image: img(src="img/backs/21.png" alt="")
        .section__fade
        .section__content
            p Если в вашем городе еще нет барбершопа OldBoy, то это лишь вопрос времени!
            p Возможно, в этот самый момент твой (перейдем на ты?&nbsp;:) сосед или друг... а может даже враг, читает эту же презентацию и уже звонит нам.<br> А чего ждёшь ты?
                p.center <strong><em>Звони сейчас!</em></strong>
                p.center: a(href="tel:+79527947836") +7 952 794-78-36
                p.center <strong>Владислав</strong>
                p.center менеджер по развитию франчайзинговой сети барбершопов OldBoy