.feature {
    // box model
    margin-bottom: 40px;

    // typography
    text-align: center;

    &__image {
        // box model
        width: 128px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    &__title {
        // box model
        margin: 0;

        // typography
        color: $orange;
        font-size: 2rem;
    }

    &__text {
        // box model
        margin-top: 5px;
    }

    &__addition {
        // positioning
        position: relative;

        // box model
        margin-top: 65px;
        padding: 0 10px;

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 50%;
            left: calc(50% - 2px);
            top: -55px;

            // box model
            width: 3px;
            height: 40px;

            // visual
            background-color: $orange;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: -15px;

            // box model
            display: block;
            width: 100%;
            height: 40px;

            // visual
            border: 3px solid $orange;
            border-bottom: none;
        }
    }
}