.section {
    // positioning
    position: relative;

    // box model
    min-height: 100vh;
    padding: 40px 20px;

    // visual
    overflow: hidden;

    &__image {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;

        // box model
        min-height: 100vh;
        height: 100%;
        width: 100%;

        img {
            // box model
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__fade {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        // box model
        min-height: 100vh;
        height: 100%;
        width: 100%;

        // visual
        background-color: rgba(0, 0, 0, 0.75);
    }

    &__header {
        // positioning
        position: relative;

        h2 {
            // box model
            padding-top: 5px;
            padding-left: 60px;

            // typography
            text-align: left;

            &.center {
                // box model
                padding-left: 0;
                
                // typography
                text-align: center;
            }
        }
    }

    &__number {
        // positioning
        position: absolute;
        left: -20px;

        // box model
        height: 60px;
        width: 60px;

        // typography
        font-weight: 700;
        font-size: 2rem;
        text-align: center;

        // visual
        border: 5px solid $orange;
        border-left: none;
    }

    &__content {

    }
}
